<div class="row pt-md-3">
  <div class="col-12 col-md-8 col-lg-6 account py-3">
    <div>
      <div class="text-center my-3">
        <img src="../../../assets/images/avatar.svg" alt="User Avtar" class="avatar" />
        <p class="h5 my-3">{{myProfileData().first_name}} {{myProfileData().last_name}}</p>
      </div>
      <div class="my-3">
        <mat-list role="list" class="profile-item-list-container mb-2">
          <mat-list-item role="listitem" mat-ripple *ngFor="let item of accountItems()"
            (click)="onClickAccountItem(item.id, item.disabled)" class="profile-item-list" [disabled]="item.disabled">
            <div class="profile-item-list-label">
              <span class="m-0">{{item.label}}</span>
              <span *ngIf="item.id==='theme'"
                class="text-capitalize m-0 d-flex align-items-center gap-2">{{themeMode()}}<mat-slide-toggle
                  [checked]="themeMode().toLowerCase()==='dark'" color="primary" /></span>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <button mat-raised-button (click)="onClickAccountItem('logout')" class="w-100 py-2"
      color="accent">{{nls.logout}}</button>
  </div>
</div>
<app-modal-window [isOpen]="isModalOpen()" (onCancel)="toggleModal($event)" (onSubmit)="submitModal($event)"
  [modal-heading]="modalHeading()" [type]="modalType()"
  [showHeader]="modalId()==='logout' || modalId()==='view-profile' || modalId()==='reset-account' || modalId()==='backup-data'">
  <ng-template>
    <p *ngIf="modalId()==='logout'">{{nls.logoutText}}</p>

    <p *ngIf="modalId()==='reset-account'">{{nls.resetText}}</p>

    <div *ngIf="modalId()==='view-profile'">
      <div class="profile-detail-item">
        <label>{{nls.fname}}</label>
        <p>{{myProfileData().first_name}}</p>
      </div>
      <div class="profile-detail-item">
        <label>{{nls.lname}}</label>
        <p>{{myProfileData().last_name}}</p>
      </div>
      <div class="profile-detail-item">
        <label>{{nls.email}}</label>
        <p>{{myProfileData().email}}</p>
      </div>
      <div class="profile-detail-item">
        <label>{{nls.phone}}</label>
        <p>{{myProfileData().phone}}</p>
      </div>
      <div class="profile-detail-item">
        <label>{{nls.verified}}?</label>
        <p [class.small-text]="!myProfileData().verified">{{myProfileData().verified?nls.done:nls.unverified}}</p>
      </div>
      <div class="profile-detail-item">
        <label>{{nls.lastLogin}}</label>
        <p>{{moment(myProfileData().last_login).format('lll')}}</p>
      </div>
      <div class="profile-detail-item">
        <label>{{nls.memberSince}}</label>
        <p>{{moment(myProfileData().createdAt).format('lll')}}</p>
      </div>
    </div>

    <div *ngIf="modalId()==='about'">
      <div>
        <p class="h6">{{nls.aboutApp}}</p>
        <mat-divider class="w-100 mb-2"></mat-divider>
        <p>{{nls.aboutText1}}</p>
      </div>

      <div>
        <mat-divider class="w-100 mb-2"></mat-divider>
        <p class="h6">{{nls.appOwnership}}</p>
        <p>{{nls.aboutText2}} <strong>{{nls.owner}}</strong> {{nls.aboutText3}}</p>
        <p>{{nls.contactMessage}}</p>
        <img src="../../../assets/images/red-heart.png" height="40px" width="40px" alt="Heart" />
      </div>
      <button class="w-100 mt-2" mat-raised-button (click)="toggleModal(false)">{{nls.okay}}</button>
    </div>

    <div *ngIf="modalId()==='help'">
      <div>
        <p class="h6">{{nls.HelpSupport}}</p>
        <mat-divider class="w-100 mb-2"></mat-divider>
        <p>{{nls.supportText1}}</p>
      </div>
      <div>
        <p class="m-0">{{nls.supportEmail}}</p>
        <p><a [href]="'mailto:'+nls.supportEmailValue">{{nls.supportEmailValue}}</a></p>
      </div>
      <button class="w-100 mt-2" mat-raised-button (click)="toggleModal(false)">{{nls.okay}}</button>
    </div>
    <div *ngIf="modalId()==='backup-data'">
      <button class="w-100 mt-2" mat-raised-button (click)="backupData()" color="primary">{{nls.backupMyData}}</button>
      <button class="w-100 mt-2" mat-raised-button (click)="restorePanelOpen()"
        color="accent">{{nls.importMyData}}</button>
      <button class="w-100 mt-2" mat-raised-button (click)="toggleModal(false)">{{nls.cancel}}</button>
    </div>
  </ng-template>
</app-modal-window>

<app-right-panel [isOpen]="rightPanelOpen()" (onCancel)="togglePanel($event)" (onSubmit)="submitPanel($event)"
  [panel-heading]="panelHeading()" [type]="'info'">
  <ng-template>

    <app-form *ngIf="panelId()==='change-password'" (on-submit)="submitPanel($event)"
      [form-fields]="changePasswordFields()" [submit-button-title]="nls.save" [cancel-button-title]="nls.cancel"
      (on-cancel)="togglePanel($event)" (on-change)="handleFormChange($event)"></app-form>
    <app-form *ngIf="panelId()==='edit-profile'" (on-submit)="submitPanel($event)" [form-fields]="editProfileFields()"
      [submit-button-title]="nls.save" [cancel-button-title]="nls.cancel" (on-cancel)="togglePanel($event)"
      (on-change)="handleFormChange($event)"></app-form>
    <app-form *ngIf="panelId()==='backup-data'" (on-submit)="submitPanel($event)" [form-fields]="backupDataFormFields()"
      [submit-button-title]="nls.import" [cancel-button-title]="nls.cancel" (on-cancel)="togglePanel($event)"
      (on-change)="handleFormChange($event)"></app-form>
  </ng-template>
</app-right-panel>