.loader-container{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  background-color: #2D0D4F;
  display: flex !important;
}

@keyframes rotateLogo {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(15deg);
  }
  70% {
    transform: rotate(345deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo {
  width: 100px;
  height: 100px;
  animation: rotateLogo 2s infinite linear; 
  filter: invert(100%);
}