@import "../resources/_variables.scss";

.my-button-nav{
    height: $bottom-bar-height;
    border-radius: 0;
}
.brand-name{
    letter-spacing: 1.3px;
}
.brand-name-container{
    height: $top-bar-height;
}
.navbar-header-icon{
    font-size: 20px;
}
@media only screen and (max-width: 600px) {
    .my-status{
        margin-top: 40px;
    }
}