<?xml version='1.0' encoding='utf-8'?>
<widget id="com.whpl.tracker" version="1.0.0" xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FlexTrack</name>
    <description>A simple FlexTrack application</description>
    <author email="careers@websiterahouse.com" href="https://websiterahouse.com">
        Websitera House Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <preference name="KeepRunning" value="true" />
        <preference name="InAppBrowserStorageEnabled" value="true" />
        <preference name="AndroidWindowSplashScreenBackground" value="#2D0D4F" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#2D0D4F" />
        <preference name="StatusBarStyle" value="lightcontent" />
    </platform>
</widget>