@import "../../framework/resources/_variables.scss";

.app-form-label {
    font-size: 14px;
}

.error-text {
    font-size: 12px;
}

.mat-mdc-slider {
    width: 97.5% !important;
    margin: 0 !important;
}

.align-center {
    display: flex !important;
    align-items: center !important;
}

.form-field-container {
    background-color: var(--mdc-filled-text-field-container-color);
    border-radius: $border-radius;
}

.form-field-inner-container {
    margin-bottom: 1px;
    border-bottom: 1px solid grey;
    padding: 15px;

    .form-field-label {
        font-family: var(--mdc-filled-text-field-label-text-font);
        font-size: 11.5px;
        font-weight: var(--mdc-filled-text-field-label-text-weight);
        letter-spacing: var(--mdc-filled-text-field-label-text-tracking);
        color: var(--mdc-filled-text-field-label-text-color);
    }
}

.deletable {
    display: flex;
    gap: 10px;
    justify-content: space-between;

    .deletable-item {
        flex-grow: 1;
    }

    .deletable-icon {
        background-color: var(--mdc-filled-text-field-container-color);
        color: var(--button-bg-tertiary) !important;
        width: 50px;
        height: 55px;
        text-align: center;
        border-radius: $border-radius;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.multiple-select-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 10px 2px;

    .multiple-select-item {
        padding: 5px 12px;
        border-radius: 5px;
        background-color: var(--bg-color);
        box-shadow: 0px 0px 4px rgba(45, 13, 79, 0.2);
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        .multiple-select-item-remove {
            height: 20px;
            width: 20px;
            font-size: 14px;
            padding: 3px;
            border-radius: 50%;
            background-color: red;
            color: var(--text-color);
            font-weight: 800;
        }
    }
}

.mat-datepicker-toggle {
    height: 24px;
    position: relative;
    top: -20px;
}