<div class="modal-backdrop" *ngIf="isOpen"></div>
<div class="modal-window" *ngIf="isOpen" @fadeZoomInOut role="dialog" [attr.aria-label]="heading">
  <div class="modal-window-heading" *ngIf="showHeader">
    <div class="modal-window-heading-text">
      <span class="h4" *ngIf="heading!==''">{{heading}}</span>
    </div>
    <button mat-icon-button color="error" [attr.aria-label]="heading" *ngIf="showCloseButton" (click)="cancelModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="modal-window-content">
    <div *ngIf="type==='info'" class="text-center">
      <ng-template [ngTemplateOutlet]="content"></ng-template>
    </div>

    <div *ngIf="type==='confirm'">
      <div class="text-center py-3">
        <mat-icon class="material-symbols-outlined">question_mark</mat-icon>
        <p class="pt-2 m-0">{{nls.areYouSure}}</p>
        <ng-template [ngTemplateOutlet]="content"></ng-template>
      </div>
      <div class="d-flex gap-2 pt-3">
        <button mat-flat-button class="w-100" (click)="cancelModal()">{{nls.cancel}}</button>
        <button class="w-100" mat-raised-button color="primary" type="button"
          (click)="submitModal()">{{nls.okay}}</button>
      </div>
    </div>
  </div>
</div>