@import "../../framework/resources/_variables.scss";

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2D0D4F80;
  z-index: 10000;
}

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 90%;
  background: #ECE6EE;
  box-shadow: 0 0 15px #2D0D4F90;
  z-index: 10001;
  border-radius: $border-radius;

  .modal-window-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 10px;
    height: 50px;
    border-radius: $border-radius $border-radius 0 0;
  }

  .modal-window-heading-text {
    text-align: center;
    flex-grow: 1;
  }

  .modal-window-content {
    padding: 10px;
  }
}
.material-symbols-outlined {
  height: 70px;
  width: 70px;
  font-size: 70px;
  color: red;
}
