.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2D0D4F80;
  z-index: 9998;
}

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 90%;
  background: #ECE6EE;
  box-shadow: 0 0 15px #2D0D4F90;
  z-index: 9999;

  .modal-window-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    height: 68px;
  }

  .modal-window-heading-text {
    text-align: center;
    flex-grow: 1;
  }

  .modal-window-content {
    padding: 10px;
  }
}