@import "../../framework/resources/_variables.scss";

.app-container {
  padding-top: calc($top-bar-height + 16px);
  padding-bottom: 30px;
  height: calc(100vh - $bottom-bar-height);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.with_status {
  height: calc(100vh - $bottom-bar-height - $status-bar-height) !important;
}

@media only screen and (max-width: 600px) {
  .my_status {
    padding-top: $status-bar-height;
  }
}