@import "../../framework/resources/_variables.scss";

.app-container {
  padding-top: calc($top-bar-height + 16px);
  padding-bottom: 30px;
  height: calc(100vh - $bottom-bar-height);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
  }

  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer and Edge */
}

@media only screen and (max-width: 600px) {
  .my_status {
    padding-top: 45px;
  }
}