<div class="my-3">
  <div class="d-flex justify-content-start align-items-center column-gap-3">
    <div>
      <img src="../../../assets/images/woman-athlete.webp" alt="Woman Athlete" class="dashboard-header-image" />
    </div>
    <div class="">
      <span class="greeting-text">{{greeting}}, <span>{{name}}</span></span>
    </div>
  </div>
  <div class="mt-2 text-secondary">
    <span class="mb-0">{{nls.trackHealth}}</span>
  </div>
</div>
<div class="container-fluid">
  <div class="mb-2 d-flex justify-content-between align-items-center">
    <span class="h6 mb-0">{{nls.myWidgets}}</span>
    <button mat-icon-button [color]="reorderEbabled?'primary':'warn'" (click)="enableReorder($event)"
      [disabled]="dashboardCards().length===0">
      <mat-icon>{{reorderEbabled?'save':'move_down'}}</mat-icon>
    </button>
  </div>
  <div *ngIf="dashboardCards().length===0" class="no-data-placeholder">
    <div class="no-data-image"></div>
    <p class="h6 text-secondary text-center">{{nls.addWidgetsUsingPlusButton}}</p>
  </div>
  @if (reorderEbabled) {
  <div class="my-dashboard-cards-container justify-content-start align-items-center" cdkDropList
    (cdkDropListDropped)="onDrop($event)">
    <div *ngFor="let item of dashboardCards()" [class]="'my-dashboard-cards reorder-card '" cdkDrag
      cdkDragBoundary=".my-dashboard-cards-container"
      [ngStyle]="{'background-color':item.color+mapToHex(item.transparency)}">
      <div class="my-dashboard-cards drag-placeholder" *cdkDragPlaceholder></div>
      <div class="dashboard-card-card">
        <div class="dashboard-card-item">
          <span class="dashboard-card-item-title m-0 flex-grow-1">{{item.title}}</span>
        </div>
        <div class="dashboard-card-item-2">
          <img [alt]="item.title" [src]="item.motivation" height="50px" />
        </div>
        <div class="dashboard-card-item-2 pt-2">
          <span class="dashboard-card-item-target m-0">{{item.target}}</span>
        </div>
      </div>
    </div>
  </div>
  }
  @if(!reorderEbabled){
  <div class="my-dashboard-cards-container justify-content-evenly align-items-center">
    <div *ngFor="let item of dashboardCards()" [class]="'my-dashboard-cards'" mat-ripple
      [ngStyle]="{'background-color':item.color+mapToHex(item.transparency)}">
      <div class="dashboard-card-card" [routerLink]="item.to">
        <div class="dashboard-card-item">
          <span class="dashboard-card-item-title m-0 flex-grow-1">{{item.title}}</span>
        </div>
        <div class="dashboard-card-item-2">
          <img [alt]="item.title" [src]="item.motivation" height="50px" />
        </div>
        <div class="dashboard-card-item-2 pt-2">
          <span class="dashboard-card-item-target m-0">{{item.target}}</span>
        </div>
      </div>
      <mat-icon class="dashboard-item-icon" (click)="editWidget(item)">edit</mat-icon>
    </div>
  </div>
  }
</div>
<app-fab-button (on-click)="togglePanel(true)" />

<app-right-panel [isOpen]="rightPanelOpen()" (onCancel)="closePanel($event)" (onSubmit)="submitPanel($event)"
  [panel-heading]="isEdit.getValue()?nls.editWidget:nls.addWidget" [type]="'info'">
  <ng-template>
    <app-form (on-submit)="submitPanel($event)" [form-fields]="widgetFormFields()" [submit-button-title]="nls.save"
      [cancel-button-title]="nls.cancel" (on-cancel)="closePanel($event)"
      (on-change)="handleFormChange($event)"></app-form>

    <div class="d-flex justify-content-evenly align-items-center mt-4 flex-column" *ngIf="addWidgetData">
      <mat-divider class="w-100 mb-2"></mat-divider>
      <p>{{nls.preview}}</p>
      <div class="d-flex justify-content-evenly align-items-center w-100">
        <div class="my-dashboard-cards preview"
          [ngStyle]="{'background-color':addWidgetData.color+mapToHex(addWidgetData.transparency)}">
          <div class="dashboard-card-card">
            <div class="dashboard-card-item">
              <span class="dashboard-card-item-title m-0 flex-grow-1">{{addWidgetData.title}}</span>
            </div>
            <div class="dashboard-card-item-2">
              <img [alt]="addWidgetData.title" [src]="addWidgetData.motivation" height="50px" />
            </div>
            <div class="dashboard-card-item-2 pt-2">
              <span class="dashboard-card-item-target m-0">{{addWidgetData.target}}</span>
            </div>
          </div>
        </div>
        <div *ngIf="isEdit.getValue()">
          <button mat-fab color="error" aria-label="Delete Widget" (click)="toggleDeleteModal(true)">
            <mat-icon>delete</mat-icon>
          </button>

        </div>
      </div>
    </div>
  </ng-template>
</app-right-panel>

<app-modal-window [isOpen]="isModalOpen()" (onCancel)="toggleModal($event)" (onSubmit)="submitModal($event)"
  [type]="'confirm'" [modal-heading]="nls.addWidget">
  <ng-template>
    <p>{{nls.cancelWidget}}</p>
  </ng-template>
</app-modal-window>
<app-modal-window [isOpen]="isDeleteModalOpen()" (onCancel)="toggleDeleteModal($event)"
  (onSubmit)="submitDeleteModal($event)" [type]="'confirm'" [modal-heading]="nls.deleteWidget">
  <ng-template>
    <p>{{nls.deleteWidgetText}}</p>
  </ng-template>
</app-modal-window>