@import "../../framework/resources/_variables.scss";

.dashboard-header-image {
  width: 30px;
  border-radius: 50%;
}

.greeting-text {
  font-size: 1.4rem;
  letter-spacing: 1px;

  span {
    font-weight: 600;
    letter-spacing: 1.5px;
  }
}

.my-dashboard-cards-container {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

.my-dashboard-cards.preview {
  color: var(--text-color) !important;
}

.drag-placeholder {
  background-color: var(--header-bg-color-secondary);
  box-shadow: 0px 0px 10px #450d5930;
  width: 80% !important;
}

.my-dashboard-cards {
  padding: 15px;
  width: calc(50% - 5px);
  height: 140px;
  border-radius: $card-border-radius;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 0 0 15px #450d5960;
  color: var(--text-color) !important;
}

.reorder-card-container {
  justify-content: flex-start !important;
}

.reorder-card {
  width: 90%;
}

.dashboard-card-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 110px;
}

.dashboard-card-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-card-item-title {
  font-size: 0.75rem;
}

.dashboard-card-item-target {
  font-size: 0.7rem;
}

.dashboard-item-icon {
  font-size: 14px;
  z-index: 9000;
  position: relative;
  top: -87px;
  right: -65px;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -24px;
}

.dashboard-card-item-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}