<div class="mt-3">
  <div class="d-flex justify-content-start align-items-center column-gap-2">
    <div>
      <img src="../../../assets/images/woman-athlete.webp" alt="Woman Athlete" class="dashboard-header-image" />
    </div>
    <div class="">
      <span class="greeting-text">{{greeting}}, <span>{{name}}</span></span>
    </div>
  </div>
  <div class="mt-2 text-secondary">
    <span>{{nls.trackHealth}}</span>
  </div>
</div>
<div class="mt-5 container-fluid">
  <div class="mb-2 d-flex justify-content-between align-items-center">
    <span class="h6">My Widgets</span>
    <button mat-icon-button [color]="reorderEbabled?'primary':'warn'" (click)="enableReorder($event)">
      <mat-icon>{{reorderEbabled?'save':'move_down'}}</mat-icon>
    </button>
  </div>
  @if (reorderEbabled) {
  <div class="my-dashboard-cards-container justify-content-evenly align-items-center reorder-card-container" cdkDropList
    (cdkDropListDropped)="onDrop($event)">
    <div *ngFor="let item of dashboardCards" [class]="'my-dashboard-cards reorder-card '+item.bgColor" cdkDrag
      cdkDragBoundary=".my-dashboard-cards-container">
      <div class="my-dashboard-cards drag-placeholder" *cdkDragPlaceholder></div>
      <div style="width: 100%;">
        <div class="dashboard-card-item">
          <span class="h6">{{item.title}}</span>
          <mat-icon class="dashboard-item-icon">{{item.icon}}</mat-icon>
        </div>
        <div class="dashboard-card-item-2">
          <img [alt]="item.title" [src]="'../../../assets/images/'+item.subtitle" height="50px" />
        </div>
        <div class="dashboard-card-item-2 pt-2">
          <span>{{item.footer}}</span>
        </div>
      </div>
    </div>
  </div>
  }
  @if(!reorderEbabled){
  <div class="my-dashboard-cards-container justify-content-evenly align-items-center">
    <div *ngFor="let item of dashboardCards" [class]="'my-dashboard-cards '+item.bgColor" mat-ripple
      [routerLink]="item.to">
      <div style="width: 100%;">
        <div class="dashboard-card-item">
          <span class="h6">{{item.title}}</span>
          <mat-icon class="dashboard-item-icon">{{item.icon}}</mat-icon>
        </div>
        <div class="dashboard-card-item-2">
          <img [alt]="item.title" [src]="'../../../assets/images/'+item.subtitle" height="50px" />
        </div>
        <div class="dashboard-card-item-2 pt-2">
          <span>{{item.footer}}</span>
        </div>
      </div>
    </div>
  </div>
  }
</div>
<div class="add-fab-button">
  <div class="container">
    <div class="d-flex justify-content-end align-items-center px-3">
      <button mat-fab color="primary" aria-label="Add Widget" (click)="togglePanel(true)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>

<app-right-panel [isOpen]="rightPanelOpen()" (onCancel)="togglePanel($event)" (onSubmit)="submitPanel($event)"
  [panel-heading]="nls.addWidget" [type]="'info'">
  <ng-template>
    <app-form (on-submit)="submitPanel($event)" [form-fields]="widgetFormFields()" [submit-button-title]="nls.save" [cancel-button-title]="nls.cancel"
      (on-cancel)="togglePanel($event)"></app-form>
  </ng-template>
</app-right-panel>