@import "../resources/_variables.scss";

.my-button-nav {
    height: $bottom-bar-height;
    border-radius: 0;
    color: var(--text-color) !important;
}

.themed-nav {
    background-color: var(--header-bg-color);
}

.active-nav-item {
    color: var(--nav-item-active) !important;
}

.brand-name {
    letter-spacing: 1.3px;
}

.brand-name-container {
    height: $top-bar-height;
}

.navbar-header-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
}

@media only screen and (max-width: 600px) {
    .my_status {
        margin-top: $status-bar-height;
    }
}