<div class="overlay" *ngIf="isOpen"></div>
<div class="right-panel" *ngIf="isOpen" [class.my_status]="_appService.getCordova()" @slideInOut>
  <div class="right-panel-heading" *ngIf="showHeader">
    <div class="right-panel-heading-text">
      <span class="h4" *ngIf="heading!==''">{{heading}}</span>
    </div>
    <button mat-icon-button color="error" [attr.aria-label]="heading" *ngIf="showCloseButton" (click)="togglePanel()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="right-panel-content">
    <ng-template [ngTemplateOutlet]="content"></ng-template>
  </div>
</div>