@import "../resources/_variables.scss";

.right-panel {
  position: fixed;
  top: 0;
  right: -500px;
  width: 100%;
  max-width: 500px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 15px #2D0D4F90;
  transition: right 0.3s ease-in-out;
  z-index: 9999;
  background-color: #ece6ee;
  overflow-y: auto;
  overflow-x: hidden;

  &.open {
    right: 0;
  }

  .right-panel-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 10px;
    height: 50px;
    position: fixed;
    width: 100%;
    max-width: 500px;
    z-index: 9999;
  }

  .right-panel-heading-text {
    text-align: center;
    flex-grow: 1;
  }

  .right-panel-content {
    padding: 10px;
    margin: 50px 0px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2D0D4F80;
  z-index: 9998;
}

@media only screen and (max-width: 600px) {
  .my_status {
    top: $status-bar-height;
  }
}