<div class="py-2 d-flex flex-column gap-2">
  <app-form [form-fields]="loggingViewFormFields.getValue()" *ngIf="loggingViewFormFields.getValue().length"
    [submittable]="false" (on-change)="handleLoggingViewFormChange($event)"></app-form>
  <div *ngIf="scheduleList.getValue().length<=0">
    <p class="text-center text-secondary">{{nls.pleaseAddSchedule}}</p>
  </div>
</div>
<app-fab-button (on-click)="createLogging()" [disabled]="scheduleList.getValue().length<=0" />
<app-right-panel [isOpen]="rightPanelOpen()" (onCancel)="closePanel($event)"
  [panel-heading]="isEdit.getValue()?nls.editLog:nls.addLog" [type]="'info'">
  <ng-template>

    <app-form [form-fields]="loggingAddFormFields.getValue()" [cancel-button-title]="nls.cancel"
      [submit-button-title]="nls.okay" (on-cancel)="closePanel($event)" (on-submit)="submitAddLogging($event)"
      (on-change)="handleAddLoggingFormChange($event)">
    </app-form>

  </ng-template>
</app-right-panel>

<app-modal-window [isOpen]="isModalOpen()" (onCancel)="toggleModal($event)" (onSubmit)="submitModal($event)"
  [modal-heading]="modalInfo()[1]" [type]="modalInfo()[2]">
  <ng-template>
    <p *ngIf="modalInfo()[0]==='add-edit'">{{nls.CancelAddEdit}}</p>
  </ng-template>
</app-modal-window>