@import "../../framework/resources/_variables.scss";

.task-item {
  .task-item-content {
    padding: 0.625rem 0.75rem;
    background-color: white;
    border-radius: $border-radius !important;
  }

  .task-name {
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1rem;
  }

  .task-description {
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 1rem;
    color: var(--mdc-filled-text-field-label-text-color);
  }
}

.logging-form-divider {
  margin-bottom: 1.25rem;
  background-color: white;
  border-radius: $border-radius !important;
}

.logging-form-container {
  padding: 0.5rem;
  gap: 0.3125rem;
  justify-content: space-between;

  .max-width {
    min-width: 50%;
    max-width: 50%;
    width: 50% !important;
  }
}

.logging-task-name {
  border-radius: $border-radius $border-radius 0px 0px;
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  background-color: #450d59;
  padding: 0.5rem;
  margin: 0;
}

.target-field-container {
  background-color: var(--mdc-filled-text-field-container-color);
  border-radius: $border-radius;
}

.target-field-inner-container {
  margin-bottom: 1px;
  border-bottom: 1px solid grey;
  padding: 0.27rem 0.9375rem;

  .target-field-label {
    font-family: var(--mdc-filled-text-field-label-text-font);
    font-size: 0.625rem;
    font-weight: var(--mdc-filled-text-field-label-text-weight);
    letter-spacing: var(--mdc-filled-text-field-label-text-tracking);
    color: var(--mdc-filled-text-field-label-text-color);
  }

  .wrapped-value {
    // white-space: nowrap;
    // overflow-x: auto;
    // overflow-y: hidden;
  }

  .target-field-value {
    line-height: 1.5rem;
  }
}
