<div class="py-2 d-flex flex-column gap-2">
  <app-form [form-fields]="loggingViewFormFields.getValue()" *ngIf="loggingViewFormFields.getValue().length"
    [submittable]="false" (on-change)="handleLoggingViewFormChange($event)"></app-form>
  <div class="scheduled-tasks-container">
    <div *ngFor="let task of scheduledTasks.getValue(); let index=index;" class="task-item mb-3"
      (click)="createLogging(task)">
      <div class="task-item-content">
        <div class="flex-grow-1">
          <p class="m-0 task-name">{{task.taskName}}</p>
          <p class="m-0 task-description">{{task.taskDescription}}</p>
        </div>
      </div>
      <mat-divider class="w-100"></mat-divider>
    </div>
  </div>
  <div *ngIf="scheduleList.getValue().length<=0" class="no-data-placeholder">
    <div class="no-data-image"></div>
    <p class="text-center text-secondary">{{nls.pleaseAddSchedule}}</p>
  </div>
</div>
<app-right-panel [isOpen]="rightPanelOpen()" (onCancel)="closePanel($event)"
  [panel-heading]="isEdit.getValue()?nls.editLog:nls.addLog" [type]="'info'">
  <ng-template>

    @for (item of getFlatFieldItems(); track $index) {
    <div class="logging-form-divider">
      @if (loggingAddFormFields.getValue()[item].oldvalue) {
      <p class=" text-center logging-task-name">{{loggingAddFormFields.getValue()[item].oldvalue.itemName}}</p>
      }
      <div class="logging-form-container" [class.d-flex]="$index!==0">
        <div *ngIf="$index!==0" [class.max-width]="$index!==0">
          <p>{{nls.target}}</p>
          <app-form
            [form-fields]="getDisabledFormTarget(loggingAddFormFields.getValue()[item].fields,loggingAddFormFields.getValue()[item].oldvalue)"
            [submittable]="false" />
        </div>
        <div [class.max-width]="$index!==0">
          <p *ngIf="$index!==0">{{nls.achieved}}</p>
          <app-form [form-fields]="loggingAddFormFields.getValue()[item].fields"
            (on-change)="handleAddLoggingFormSubmit($event, loggingAddFormFields.getValue()[item])"
            [submittable]="false" />
        </div>
      </div>
    </div>
    @if ($index===0) {
    <p class="h6 text-center py-2 mb-2 logging-form-divider">{{selectedTask.getValue().taskName}}</p>
    }
    }

  </ng-template>
</app-right-panel>

<app-modal-window [isOpen]="isModalOpen()" (onCancel)="toggleModal($event)" (onSubmit)="submitModal($event)"
  [modal-heading]="modalInfo()[1]" [type]="modalInfo()[2]">
  <ng-template>
    <p *ngIf="modalInfo()[0]==='add-edit'">{{nls.CancelAddEdit}}</p>
  </ng-template>
</app-modal-window>