@import "../../framework/resources/_variables.scss";

.task-item {
  .task-item-content {
    padding: 10px 12px;
    background-color: white;
    border-radius: $border-radius !important;
  }

  .task-name {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
  }

  .task-description {
    font-size: 11.5px;
    font-weight: 400;
    line-height: 16px;
    color: var(--mdc-filled-text-field-label-text-color);
  }
}

.logging-form-divider {
  margin-bottom: 20px;
  background-color: white;
  border-radius: $border-radius !important;
}

.logging-form-container {
  padding: 8px;
  gap: 5px;
  justify-content: space-between;

  .max-width {
    min-width: 50%;
    max-width: 50%;
    width: 50% !important;
  }
}

.logging-task-name {
  border-radius: $border-radius $border-radius 0px 0px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: #450d59;
  padding: 8px;
  margin: 0;
}

.target-field-container {
  background-color: var(--mdc-filled-text-field-container-color);
  border-radius: $border-radius;
}

.target-field-inner-container {
  margin-bottom: 1px;
  border-bottom: 1px solid grey;
  padding: 4.8px 15px;

  .target-field-label {
    font-family: var(--mdc-filled-text-field-label-text-font);
    font-size: 11.5px;
    font-weight: var(--mdc-filled-text-field-label-text-weight);
    letter-spacing: var(--mdc-filled-text-field-label-text-tracking);
    color: var(--mdc-filled-text-field-label-text-color);
  }

  .wrapped-value {
    // white-space: nowrap;
    // overflow-x: auto;
    // overflow-y: hidden;
  }

  .target-field-value {
    line-height: 24px;
  }
}