@import "../../framework/resources/_variables.scss";

.account {
  background-color: var(--header-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 175px) !important;
  border-radius: $border-radius;

  .avatar {
    height: 120px;
    border-radius: 50%;
    border: 3px solid var(--bg-color);
  }

  .profile-item-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .profile-item-list {
    // border: 1px solid red;
    // box-shadow: 0px 0px 5px #ece6eeaa;
    height: 40px;
    border-radius: $border-radius;
  }

  .profile-item-list-label {
    color: var(--text-color);
    font-size: 13px;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width:600px) {
    background-color: var(--bg-color);
    height: calc(100vh - 160px) !important;

    .avatar {
      border-color: var(--header-bg-color);
    }

    .profile-item-list {
      // border: 1px solid red;
      // box-shadow: 0px 0px 5px white;
      background-color: var(--header-bg-color);
    }

  }
}

.h-65 {
  height: 65% !important;
}

.profile-detail-item {
  text-align: left;
  background-color: var(--header-bg-color);
  padding: 5px 10px;
  margin: 4px 0px;
  border-radius: $border-radius;

  label {
    font-size: 11px;
    font-weight: 500;
    color: var(--text-color);
  }

  .small-text {
    color: red;
    font-size: 12px;
  }

  p {
    font-size: 15px;
    margin: 0;
  }
}