@import "../../framework/resources/_variables.scss";

.task-item {
  .task-item-content {
    padding: 0.625rem 0.75rem;
    background-color: var(--header-bg-color);
    border-radius: $border-radius !important;
  }

  .task-name {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1rem;
  }

  .task-description {
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 1rem;
    color: var(--text-color-secondary);
  }
}

.logging-form-divider {
  margin-bottom: 1.25rem;
  background-color: var(--header-bg-color);
  border-radius: $border-radius !important;
}

.logging-form-container {
  padding: 0.5rem;
  justify-content: space-between;

  .max-width {
    min-width: 48%;
    max-width: 48%;
    width: 48% !important;
  }
}

.logging-task-name {
  border-radius: $border-radius $border-radius 0px 0px;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-color);
  text-transform: uppercase;
  background-color: var(--header-bg-color-secondary);
  padding: 0.5rem;
  margin: 0;
}