@import './app/framework/resources/variables';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
    height: 100%;
    user-select: none;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: 1px !important;
}

.mat-mdc-form-field-subscript-wrapper {
    height: 10px !important;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
    border-radius: 0px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-color);
}

.cdk-overlay-container {
    z-index: 10001;
}

.text-secondary {
    color: var(--text-color-secondary) !important;
}

.mat-typography {
    color: var(--text-color) !important;
}

.mat-mdc-raised-button {
    --mdc-protected-button-container-color: var(--button-bg-secondary) !important;
    --mdc-protected-button-label-text-color: var(--text-color) !important;
}

.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: var(--button-bg-primary) !important;
    --mdc-protected-button-label-text-color: white !important;
}

.mat-mdc-raised-button.mat-accent {
    --mdc-protected-button-container-color: var(--button-bg-tertiary) !important;
    --mdc-protected-button-label-text-color: white !important;
}

.mat-mdc-raised-button.mat-mdc-button-disabled {
    --mdc-protected-button-disabled-container-color: var(--button-bg-disabled) !important;
    --mdc-protected-button-disabled-label-text-color: white !important;
}
