@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@media (prefers-color-scheme: dark) {
    @import '@angular/material/prebuilt-themes/deeppurple-amber-dark.css';
}

html,
body {
    height: 100%;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ece6ee;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: 1px !important;
}

.mat-mdc-form-field-subscript-wrapper {
    height: 10px !important;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #00000020;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #00000040;
}

.cdk-overlay-container {
    z-index: 10001;
}