<div class="auth-container">
    <div class="auth-form-container">
        <div class="auth-form-logo mb-2">
            <img height="100px" width="100px" src="../../../assets/images/loader-logo.webp"
                style="filter: invert(100%);" />
            <p class="mb-0">{{nls.welcome}}</p>
            <h2 class="h2">{{authType()==='login'?nls.LoginSubheading:nls.SignupSubheading}}</h2>
        </div>
        <ng-container *ngIf="authType()==='login'">
            <app-form (on-submit)="submit($event)" [form-fields]="authFields()"
                [submit-button-title]="nls.Login"></app-form>
        </ng-container>
        <ng-container *ngIf="authType()==='signup'">
            <app-form (on-submit)="submit($event)" [form-fields]="authFields()"
                [submit-button-title]="nls.Signup"></app-form>
        </ng-container>
        <button *ngIf="authType()==='login' && biometricEnabled()" mat-raised-button type="button"
            (click)="authService.launchBiometric()" color="accent"
            class="w-100 mt-3">{{nls.loginUsingBiometric}}</button>
        <div class="pt-4">
            <p class="text-center auth-form-footer-links" (click)="changeAuthType()">{{ authType() === 'login' ?
                nls.createAccount : nls.loginExisting }}</p>
        </div>
    </div>
</div>

<app-modal-window [isOpen]="authService.isModalOpen.getValue()" (onCancel)="authService.toggleModal($event)"
    (onSubmit)="authService.submitModal($event)" [type]="'confirm'" [modal-heading]="nls.EnableBiometric"
    [message-title]="nls.BiometricEnrolledOnDevice">
    <ng-template>
        <p>{{nls.EnableBiometricMessage}}</p>
    </ng-template>
</app-modal-window>